
form {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    width: 500px;
}
select {
    padding: 10px 20px;
    font-size: 20px;
    margin:20px 0 0 10px;
    
}
label {
    width: 150px;
    display: inline-block;
    font-size: 20px;
}
input {
    padding: 10px 20px;
    font-size: 20px;    
    margin-top: 20px;
    border-radius: 5px;
}
#submit {
    margin-left: 100px;
    padding: 10px 100px;
    color: white;
    background-color: black;
    border-radius: 5px;
}
div {
    float: left;
}
#res {
    margin-left: 100px;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
}
td,tr,th {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    
}
